<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width = device-width, initial-scale = 1">
	<title>Admin Session</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap-datepicker.css">
  <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-select.min.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="css/admin_session.css">
  <link href='https://fonts.googleapis.com/css?family=Cormorant' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/bootstrap-editable.css">
  <script src="js/jquery-3.1.1.min.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/bootstrap-datepicker.js"></script>
  <script src="js/bootstrap-select.min.js"></script>
  <script src="js/jquery.maskedinput.js"></script>
  <script src="js/bootstrap-editable.min.js"></script>
  <script src="js/moment.js"></script>

</head>

<body>

  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsed-menu" aria-expanded="false">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="collapsed-menu">
          <ul class="nav navbar-nav">
            <li ><a href="index.html">Кинотетры</a></li>
            <li><a href="#">Кнопка1</a></li>
            <li><a href="#">Кнопка2</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-map-marker" aria-hidden="true"></i> Киев <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <form class="navbar-form" role="search">
                  <div class="input-group input-group-sm">
                    <input type="text" class="form-control" placeholder="Город" maxlength="20">
                    <span class="input-group-btn">
                      <button class="btn btn-default btn-xs" type="button"> <span class="glyphicon glyphicon-search"></span> </button>
                    </span>
                  </div>              
                </form>
                <li role="separator" class="divider"></li>
                <li><a href="#">Львов</a></li>
                <li><a href="#">Харьков</a></li>
                <li><a href="#">Одесса</a></li>
              </ul>
            </li>            
            <li><a href="#">Вход</a></li>
            <li><a href="#">Регистрация</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>


  <div class="container"> 
    <div class="jumbotron">
      <h2>Список сеансов</h2>
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="input-group input-group-sm">
            <input type="text" class="form-control" placeholder="Фильм \ Зал" maxlength="20">
            <span class="input-group-btn">
              <button class="btn btn-default btn-xs" type="button"> <span class="glyphicon glyphicon-search"></span> </button>
            </span>
          </div> 
        </div>
       <div class="col-sm-3 pull-right">
          <div class="input-group pull-right ">
           <input class="filmDatepicker form-control" type="text">
           <div class="input-group-addon">
             <span class="glyphicon glyphicon-calendar"></span>  
           </div>
          </div>
       </div> 
      </div>
       <div class="row">
          <br>
          <div class="col col-xs-6">
            <a class="btn btn-sm btn-primary btn-create" data-toggle="collapse" href='#addCinema'>
            <i class="fa fa-plus" aria-hidden="true"></i> Добавить сеанс</a>  
         </div>
       </div>
       <div class="row">
          <div class="col-lg-6">
            <div class="tab-content">
              <div id="addCinema" class="collapse">
                <form role="form" action="" id="session-form" onsubmit="return false;">
                  <div class ="menu">
                    <div class="row">
                       <select class="selectpicker data-input" multiple title="Фильм" data-live-search="true"  data-width="auto">
                          <option>Фильм1</option>
                          <option>Фильм2</option>
                          <option>Фильм с длинным названием чтоб увеличить текстбокс</option>
                      </select>
                    </div>
                    <div class="row">
                      <select class="selectpicker data-input" multiple title="Зал" data-width="auto">
                        <option>Ультрамарин</option>
                        <option>Аква</option>
                        <option>Оникс</option>
                      </select>
                    </div>
                    <div class="row">
                      <div class="col-xs-6 data-input"> 
                        <div class="input-group">
                          <input class="filmDatepicker form-control" type="text">
                          <div class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>  
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-6 data-input" >
                        <input class="form-control timeMask " id='timeInput' type="text"  placeholder="Время" pattern='([01]?[0-9]|2[0-3]):[0-5][0-9]' autofocus required title="Введите время в диапазоне от 00:00 до 23:59">
                      </div>
                    </div>   
                    <button type="submit" class="btn btn-success">Сохранить</button>                 
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <hr />

        <p class="film-name">КОРОЛЬ АРТУР: ЛЕГЕНДА МЕЧА</p>
        <h4 class="hall-name">Зал "Ультрамарин"</h4>
        <ul class="list-inline session-time">           
          <li><a href="#" id="time1" data-type="combodate" data-value="10:30" data-title="Select date"></a>
           <a class="btn btn-xs button-style"><em class="fa fa-pencil" id="editbtn"></em></a>
           <a class="btn btn-xs button-style  button-cancel" style='padding:0px; color:#9c5454'><em class="fa fa-times"></em></a>
         </li>
         <li>14:30 
           <a class="btn btn-xs button-style"><em class="fa fa-pencil"></em></a>
           <a class="btn btn-xs button-style  button-cancel" style='padding:0px; color:#9c5454'><em class="fa fa-times"></em></a>
         </li>
         <li>17:10 
           <a class="btn btn-xs button-style"><em class="fa fa-pencil"></em></a>
           <a class="btn btn-xs button-style  button-cancel" style='padding:0px; color:#9c5454'><em class="fa fa-times"></em></a>
         </li>
         <li>20:00 
           <a class="btn btn-xs button-style"><em class="fa fa-pencil"></em></a>
           <a class="btn btn-xs button-style  button-cancel" style='padding:0px; color:#9c5454'><em class="fa fa-times"></em></a>
         </li>
         <li>22:15 
           <a class="btn btn-xs button-style"><em class="fa fa-pencil"></em></a>
           <a class="btn btn-xs button-style  button-cancel" style='padding:0px; color:#9c5454'><em class="fa fa-times"></em></a>
         </li>


        </ul>
        <h4 class="hall-name">Зал "Ультрамарин"</h4>
        <ul class="list-inline session-time">  
          <li>09:00 
           <a class="btn btn-xs button-style"><em class="fa fa-pencil"></em></a>
           <a class="btn btn-xs button-style  button-cancel" style='padding:0px; color:#9c5454'><em class="fa fa-times"></em></a>
         </li>           
         <li>10:30 
           <a class="btn btn-xs button-style"><em class="fa fa-pencil"></em></a>
           <a class="btn btn-xs button-style  button-cancel" style='padding:0px; color:#9c5454'><em class="fa fa-times"></em></a>
         </li>
         <li>14:30 
           <a class="btn btn-xs button-style"><em class="fa fa-pencil"></em></a>
           <a class="btn btn-xs button-style  button-cancel" style='padding:0px; color:#9c5454'><em class="fa fa-times"></em></a>
         </li>
         <li>17:10 
           <a class="btn btn-xs button-style"><em class="fa fa-pencil"></em></a>
           <a class="btn btn-xs button-style  button-cancel" style='padding:0px; color:#9c5454'><em class="fa fa-times"></em></a>
         </li>
         <li>20:00 
           <a class="btn btn-xs button-style"><em class="fa fa-pencil"></em></a>
           <a class="btn btn-xs button-style  button-cancel" style='padding:0px; color:#9c5454'><em class="fa fa-times"></em></a>
         </li>
         <li>22:15 
           <a class="btn btn-xs button-style"><em class="fa fa-pencil"></em></a>
           <a class="btn btn-xs button-style  button-cancel" style='padding:0px; color:#9c5454'><em class="fa fa-times"></em></a>
         </li>
        </ul>
        <hr />
        <p class="film-name">МУМИЯ</p>
        <h4 class="hall-name">Зал "Ультрамарин"</h4>
        <ul class="list-inline session-time">         
          <li>10:30 
           <a class="btn btn-xs button-style"><em class="fa fa-pencil"></em></a>
           <a class="btn btn-xs button-style  button-cancel" style='padding:0px; color:#9c5454'><em class="fa fa-times"></em></a>
         </li>
         <li>14:30 
           <a class="btn btn-xs button-style"><em class="fa fa-pencil"></em></a>
           <a class="btn btn-xs button-style  button-cancel" style='padding:0px; color:#9c5454'><em class="fa fa-times"></em></a>
         </li>
         <li>17:10 
           <a class="btn btn-xs button-style"><em class="fa fa-pencil"></em></a>
           <a class="btn btn-xs button-style  button-cancel" style='padding:0px; color:#9c5454'><em class="fa fa-times"></em></a>
         </li>
         <li>20:00 
           <a class="btn btn-xs button-style"><em class="fa fa-pencil"></em></a>
           <a class="btn btn-xs button-style  button-cancel" style='padding:0px; color:#9c5454'><em class="fa fa-times"></em></a>
         </li>
         <li>22:15 
           <a class="btn btn-xs button-style"><em class="fa fa-pencil"></em></a>
           <a class="btn btn-xs button-style  button-cancel" style='padding:0px; color:#9c5454'><em class="fa fa-times"></em></a>
         </li>
        </ul>
        <hr />
    </div>
  </div>

  <div class="footer">
    <div class = "row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-lg-offset-4 col-md-offset-4 col-sm-offset-4 text-center">
        <ul class="list-inline"> 
          <li><a href="#">Главная</a></li>    
          <li><a href="#">|</a></li>
          <li>Перечень:</li>
          <li><a href="">Кнопка</a></li>
          <li><a href="">Кнопка</a></li>
          <li><a href="">Кнопка</a></li>      
          <li><a href="">|</a></li>
          <li><a href="">Контакты</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-3 col-xs-9 col-lg-offset-2  col-sm-offset-0 col-xs-offset-3 pull-right">
        <span><i class="fa fa-envelope-open" aria-hidden="true" style="line-height:6%;"></i> e-mail: CatReeena@yandex.ru</span>
        <p><i class="fa fa-address-book" aria-hidden="true" style="line-height:6%;"></i> тел. +380636125014 </p>
      </div>
    </div>
  </div>


<script>
 $(document).ready(function () {  
 
  var datepicker = $.fn.datepicker.noConflict();
  $.fn.bootstrapDP = datepicker;  
    

  $('.filmDatepicker').bootstrapDP({
    format: "dd-mm-yyyy",
    autoclose: true,
    todayHighlight: true,
    language:"ru"
  });
  var date = new Date();
  var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());          
  $('.filmDatepicker').bootstrapDP('setDate', today);


  $.fn.editable.defaults.mode = 'inline';
  $('#editbtn').click(function(e){    
    e.stopPropagation();
    $('#time1').editable('toggle');
  });

  $('#time1').editable({     
    format: 'HH:mm',    
    viewformat: 'HH:mm',  
    template:"HH : mm",  
    combodate: {
      minuteStep: 1
    }
  }); 

  jQuery(function(){
    jQuery(".timeMask").mask("99:99");
  });

});
</script>
</body>
</html>