<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="footer">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-lg-offset-4 col-md-offset-4 col-sm-offset-4 text-center">
            <ul class="list-inline">
                <!--<li><a href="#">Main</a></li>-->
                <!--<li><a href="#">|</a></li>-->
                <!--<li>Перечень:</li>-->
                <!--<li><a href="">Кнопка</a></li>-->
                <!--<li><a href="">Кнопка</a></li>-->
                <!--<li><a href="">Кнопка</a></li>-->
                <!--<li><a href="">|</a></li>-->
                <!--<li><a href="">Контакты</a></li>-->
            </ul>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-3 col-xs-9 col-lg-offset-2  col-sm-offset-0 col-xs-offset-3 pull-right">
            <span>
                <i class="fa fa-envelope-open" aria-hidden="true" style="line-height:6%;"></i>
                e-mail: mail@mail.com
            </span>
            <p>
                <i class="fa fa-address-book" aria-hidden="true" style="line-height:6%;"></i>
                тел. +380000000000
            </p>
        </div>
    </div>
</div>
</body>
</html>
