<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="navbar">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#collapsed-menu" aria-expanded="false">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="collapsed-menu">
                <ul class="nav navbar-nav">
                    <li class="active"><a th:href="@{/index}" href="#">Home<span class="sr-only">(current)</span></a></li>
                    <li><a th:href="@{/cinemas}" href="#">Cinemas</a></li>
                    <li><a href="#">Кнопка2</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            Киев
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <form class="navbar-form" role="search">
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control" placeholder="Город" maxlength="20">
                                        <span class="input-group-btn">
                                        <button class="btn btn-default btn-xs" type="button">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                    </div>
                                </form>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Львов</a></li>
                            <li><a href="#">Харьков</a></li>
                            <li><a href="#">Одесса</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Вход</a></li>
                    <li><a href="#">Регистрация</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>