<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div th:fragment="navbar">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#collapsed-menu" aria-expanded="false">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="collapsed-menu">
                <ul class="nav navbar-nav">
                    <li class="active"><a th:href="@{/index}" href="#">Home<span class="sr-only">(current)</span></a></li>
                    <li><a th:href="@{/cinemas}" href="#">Cinemas</a></li>
                    <li sec:authorize="hasRole('Admin')"><a th:href="@{/admin/cinema}">Cinema admin panel</a></li>
                    <li sec:authorize="hasRole('Admin')"><a th:href="@{/admin/city}">City admin panel</a></li>
                    <li sec:authorize="hasRole('Admin')"><a th:href="@{/admin/user}">User admin panel</a></li>
                    <li sec:authorize="hasRole('Admin')"><a th:href="@{/admin/movie}">Movie admin panel</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <!--/*@thymesVar id="currentCity" type="movietickets.city.City"*/-->
                            <span th:text="${session.currentCity.name}">Current city</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <form class="navbar-form" role="search">
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control" placeholder="City" maxlength="20">
                                        <span class="input-group-btn">
                                        <button class="btn btn-default btn-xs" type="button">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                    </div>
                                </form>
                            </li>
                            <li role="separator" class="divider"></li>
                            <!--/*@thymesVar id="cityList" type="java.util.List<movietickets.city.City>"*/-->
                            <th:block th:each="city : ${cityList}">
                                <li>
                                    <a th:text="${city.name}" th:href="@{/city/{id}/(id=${city.id})}"
                                       href="#">
                                        City name
                                    </a>
                                </li>
                            </th:block>
                        </ul>
                    </li>
                    <li>
                        <a sec:authorize="isAuthenticated()"
                           th:text="${#authentication.name}" th:href="@{/profile}">User name</a>
                        <a class="navbar-link"
                           sec:authorize="isAnonymous()" th:href="@{/login}" href="#">Login</a>
                    </li>
                    <li>

                        <form sec:authorize="isAuthenticated()" name="logout" th:action="@{/logout}" method="post">
                            <div class="form-logout">
                                <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
                            </div>
                        </form>
                        <a class="navbar-link"
                            sec:authorize="isAnonymous()" th:href="@{/register}" href="#">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>