<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div class="panel-body" th:fragment="cinema_block">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-list" id="cinemaTable">
            <thead>
            <tr>
                <th class="hidden-xs">№</th>
                <th>Name</th>
                <th>City</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Website</th>
                <th>Halls</th>
                <th>Sessions</th>
                <th align="center"><em class="fa fa-cog"></em></th>
            </tr>
            </thead>

            <tbody th:each="cinema : ${cinemas}">
            <tr>
                <td th:text="${cinemaStat.count}" class="hidden-xs">Number</td>
                <td th:text="${cinema.name}" class='cinema-name'>Name</td>
                <td th:text="${cinema.city.name}">City name</td>
                <td th:text="${cinema.address}">Address</td>
                <td th:text="${cinema.phone}">Phone</td>
                <td th:text="${cinema.website}">Website</td>
                <td><a th:href="@{/admin/cinema/{id}/hall(id=${cinema.id})}" class="btn btn-primary">Halls</a></td>
                <td><a th:href="@{/admin/cinema/{id}/session(id=${cinema.id})}" class="btn btn-primary">Sessions</a></td>
                <td align="center">
                    <a th:attr="data-cinema-id=${cinema.id}" class="btn btn-default edit" ><em class="fa fa-pencil"></em></a>
                    <a th:attr="data-cinema-id=${cinema.id}" class="btn btn-danger delete"><em class="fa fa-trash"></em></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>