<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="permission_block">
    <ul class="list-unstyled">
        <li th:each="permission : ${permissions}">
            <span th:text="${permissionStat.count}">Number</span>
            <a class="list-font permission-name" th:text="${permission.name}"
               th:attr="data-value=${permission.name}, data-pk=${permission.id}">Permission</a>
            <a class="btn btn-xs button-style button-edit">
                <em class="fa fa-pencil"></em>
            </a>
            <a class="btn btn-xs button-style button-cancel" th:attr="data-permission-id=${permission.id}">
                <em class="fa fa-times"></em>
            </a>
        </li>
    </ul>
</div>
</body>
</html>