<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div class="panel-body">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-list" id="cinemaTable">
            <thead>
            <tr>
                <th class="first-column">№</th>
                <th>Movie</th>
                <th>Cinema</th>
                <th>Date</th>
                <th>Time</th>
                <th>Price</th>
                <th>Row</th>
                <th>Seat</th>
                <th>Status</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ticket : ${tickets}">
                <td th:text="${ticketStat.count}" class="first-column">Number</td>
                <td th:text="${ticket.seat.session.movie.name}">Movie name</td>
                <td th:text="${ticket.seat.session.hall.cinema.name}">Cinema name</td>
                <td th:text="${#temporals.format(ticket.seat.session.sessionStart, 'd MMMM yyyy')}">Date</td>
                <td th:text="${#temporals.format(ticket.seat.session.sessionStart, 'HH:mm')}">Time</td>
                <td th:text="${ticket.seat.price}">Price</td>
                <td th:text="${ticket.seat.rowNumber}">Row</td>
                <td th:text="${ticket.seat.seatNumber}">Seat</td>
                <td th:text="${ticket.seat.seatStatus}">Status</td>
                <td><a th:attr="data-ticket-id=${ticket.id}"
                       class="btn btn-danger delete"><em class="fa fa-trash"></em></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>