.hall-name {
  margin-left: 30px;
  padding-top: 10px;
}	

.session-time {
  margin-left: 30px;
}

.button-style {
  padding:0px;
}

.button-cancel {
  color:#9c5454;
}

.data-input {	
  margin-bottom: 10px;
  padding-left: 20px;
}

.menu {
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-radius: 0px 0px 5px 5px;
  padding: 10px;
  margin-bottom: 15pt;
}