.thumbnail h3 {
    height: 36px;
    overflow: hidden;
}

.block-name {
    color: #F1F0E9;
    font-size: 20pt;
    font-family: 'Cormorant', serif;;
    font-weight: bold;
    text-align: center;
}

.in-theaters .row {
    word-wrap: break-word;
}

.coming-soon {
}

.coming-soon .row {
    word-wrap: break-word;
}