html {
    position: relative;
    min-height: 100%;
}

@media (min-width: 1430px) {
    .container {
        width: 1400px;
    }
}

body {
    margin-bottom: 110px;
    background: linear-gradient(#243B55, #141E30);
}

.thumbnail {
    background-color: #F1F0E9;
}

.thumbnail .h3 {
    color: #162034;
}

h3 {
    font-family: 'Cormorant', serif;
    font-size: 13pt;
    font-weight: bold;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 15pt;
    color: white;
}

.footer a {
    color: white;
}