@charset "utf-8";
/* CSS Document */
.loader {
    display: inline-block;
    height: 100%;
    position: relative; /*required for z-index*/
    z-index: 1000; /*puts on top of everything*/
    margin-left: auto;
    margin-right: auto;
}