html {
    position: relative;
    min-height: 100%;
}

@media (min-width: 1430px) {
    .container {
        width: 1400px;
    }
}

body {
    margin-bottom: 110px;
    background: linear-gradient(#243B55, #141E30);
}

.thumbnail {
    background-color: #F1F0E9;
}

.thumbnail .h3 {
    color: #162034;
}

h3 {
    font-family: 'Cormorant', serif;
    font-size: 13pt;
    font-weight: bold;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 15pt;
    color: white;
}

.footer a {
    color: white;
}

.disabled-block {
    pointer-events: none;
    opacity: 0.4;
}

.spinner {
    margin: 3em auto;
    width: 3.5em;
    height: 2.5em;
    text-align: center;
    font-size: 0.5em;
}

.spinner > div {
    background-color: #333;
    height: 100%;
    width: 0.375em;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% {
           transform: scaleY(1.0);
           -webkit-transform: scaleY(1.0);
       }
}