.film-info {
    color: grey;
    font-size: 10pt;
}

.info-header {
    font-size: 10pt;
    margin-bottom: 0pt;
}

.cinema-name {
    font-size: 12pt;
    font-weight: bold;
}

.movie-details {
    padding: 15pt;
}