.film-info {
  font-size: 10pt; 
  margin-bottom: 2pt; 
}


.info-header {
  font-size: 10pt;
  margin-bottom: 0pt;
}

.button-cancel {
    color: #9c5454
}

.menu {
    border: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
    margin-bottom: 15pt;
    background-color: white;
}

.list-font {
	 font-size: 12pt;
}


.white-bg {
    background-color: white;
}

.list-font {
    font-size: 12pt;
}

.data-input
{
    margin-bottom: 10px;
}

.itemsContainer:hover .play{display:block}
.play {
    position : absolute;
    display:none;
    top:20%;
    width:60px;
    margin:0 auto; left:0px;
    right:0px;
    z-index:100;

}