<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width = device-width, initial-scale = 1">
	<title>Admin Hall</title>
	<link rel="stylesheet" type="text/css" href="../../../../../../Desktop/cinemasite/css/bootstrap-datepicker.css">
	<link rel="stylesheet" type="text/css" href="../../../../../../Desktop/cinemasite/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="../../../../../../Desktop/cinemasite/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../../../../../../Desktop/cinemasite/css/bootstrap-select.min.css">
	<link rel="stylesheet" type="text/css" href="../../../../../../Desktop/cinemasite/css/main.css">
	<link href='https://fonts.googleapis.com/css?family=Cormorant' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../../../../../../Desktop/cinemasite/css/admin_hall.css">
	<script src="../../../../../../Desktop/cinemasite/js/jquery-3.1.1.min.js"></script>
	<script src="../../../../../../Desktop/cinemasite/js/bootstrap.js"></script>
	<script src="../../../../../../Desktop/cinemasite/js/bootstrap-datepicker.js"></script>
	<script src="js/bootstrap-datepicker.ru.min.js"></script>
	<script src="../../../../../../Desktop/cinemasite/js/bootstrap-select.min.js"></script>
	<script src="../../../../../../Desktop/cinemasite/js/jquery.maskedinput.js"></script>

</head>

<body>

  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsed-menu" aria-expanded="false">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="collapsed-menu">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Кинотеатры</a></li>
            <li><a href="#">Фильмы</a></li>
            <li><a href="#">Кнопка2</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-map-marker" aria-hidden="true"></i> Киев <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <form class="navbar-form" role="search">
                  <div class="input-group input-group-sm">
                    <input type="text" class="form-control" placeholder="Город" maxlength="20">
                    <span class="input-group-btn">
                      <button class="btn btn-default btn-xs" type="button"> <span class="glyphicon glyphicon-search"></span> </button>
                    </span>
                  </div>              
                </form>
                <li role="separator" class="divider"></li>
                <li><a href="#">Львов</a></li>
                <li><a href="#">Харьков</a></li>
                <li><a href="#">Одесса</a></li>
              </ul>
            </li>            
            <li><a href="#">Вход</a></li>
            <li><a href="#">Регистрация</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>


  <div class="container"> 
    <div class="jumbotron">
      <h2>Список залов кинотеатра Баттерфляй De Luxe</h2>
	    <div class="row">
	    <br>
	        <div class="col col-xs-6">
	      	<a class="btn btn-sm btn-primary btn-create" data-toggle="collapse" href='#addCinema'><i class="fa fa-plus" aria-hidden="true"></i> Добавить зал</a>   
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<div class="tab-content">
	            	<div id="addCinema" class="collapse">
	            		<form role="form" method="post" action="" id="request-form" onsubmit="return false;">
	              			<div class ="menu">
				              	 <input type="text" class="form-control data-input" placeholder="Название зала" maxlength="50" required>
	             				<button type="submit" class="btn btn-success">Сохранить</button>                 
	              			</div>
	             		</form>
	            	</div>
	      		</div>
	    	</div>
	    </div>
      	<hr />
	     <ul class="list-unstyled">
		     <li><a data-toggle="collapse" href='#hall1' class="list-font">1. Ультрамарин</a><a class="btn btn-xs button-style  button-cancel" style=' color:#9c5454'><em class="fa fa-times"></em></a>
			</li>
				 <div class="row">
					<div class="col-lg-8">
						<div class="tab-content">
			            	<div id="hall1" class="collapse">
			            		<div class="menu">
				            	<div class="row">
				            		<div class="col-xs-8">		            		
				            		<li>1111111111111111111111111111111111111111111111111111111111</li>
				            		<li>1111111111111111111111111111111111111111111111111111111111</li>
				            		<li>1111111111111111111111111111111111111111111111111111111111</li>
				            		<li>1111111111111111111111111111111111111111111111111111111111</li>
				            		<li>1111111111111111111111111111111111111111111111111111111111</li>
				            		<li>1111111111111111111111111111111111111111111111111111111111</li>
				            		<li>1111111111111111111111111111111111111111111111111111111111</li>
				            		<li>1111111111111111111111111111111111111111111111111111111111</li>
				            		<li>1111111111111111111111111111111111111111111111111111111111</li>
				            		<li>1111111111111111111111111111111111111111111111111111111111</li>
				            		<li>1111111111111111111111111111111111111111111111111111111111</li>
				            		<li>1111111111111111111111111111111111111111111111111111111111</li>
				            		<li>1111111111111111111111111111111111111111111111111111111111</li>
				            		<li>1111111111111111111111111111111111111111111111111111111111</li>
				            		<li>1111111111111111111111111111111111111111111111111111111111</li>
									<li>1111111111111111111111111111111111111111111111111111111111</li>
									<li>1111111111111111111111111111111111111111111111111111111111</li>
									<li>1111111111111111111111111111111111111111111111111111111111</li>
									<li>1111111111111111111111111111111111111111111111111111111111</li>
									<li>1111111111111111111111111111111111111111111111111111111111</li>
				            		</div>
				            		<div class="col-xs-3">
				            		<li>Количество рядов: 16</li>
				            		<li>Мест: 192</li>
				            		<a class="btn btn-sm btn-default"><em class="fa fa-pencil"> Изменить</em></a>
						            <a class="btn btn-sm btn-danger"><em class="fa fa-trash"> Удалить</em></a>
				            		</div>
				            	</div>
				            	</div>
			            	</div>
			            </div>
			        </div>
			    </div>        	
		     <li><a  class="list-font">2. Аква</a><a class="btn btn-xs button-style  button-cancel" style=' color:#9c5454'><em class="fa fa-times"></em></a></li>
		     <li><a  class="list-font">3. Оникс</a><a class="btn btn-xs button-style  button-cancel" style=' color:#9c5454'><em class="fa fa-times"></em></a></li>
	    </ul>
    </div>
  </div>

      

  <div class="footer">
    <div class = "row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-lg-offset-4 col-md-offset-4 col-sm-offset-4 text-center">
        <ul class="list-inline"> 
          <li><a href="#">Главная</a></li>    
          <li><a href="#">|</a></li>
          <li>Перечень:</li>
          <li><a href="">Кнопка</a></li>
          <li><a href="">Кнопка</a></li>
          <li><a href="">Кнопка</a></li>      
          <li><a href="">|</a></li>
          <li><a href="">Контакты</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-3 col-xs-9 col-lg-offset-2  col-sm-offset-0 col-xs-offset-3 pull-right">
        <span><i class="fa fa-envelope-open" aria-hidden="true" style="line-height:6%;"></i> e-mail: CatReeena@yandex.ru</span>
        <p><i class="fa fa-address-book" aria-hidden="true" style="line-height:6%;"></i> тел. +380636125014 </p>
      </div>
    </div>
  </div>


<script>
 $(document).ready(function () {                                 
  $('.filmDatepicker').datepicker({
    format: "dd-mm-yyyy",
    autoclose: true,
    todayHighlight: true,
    language:"ru"
  });
  var date = new Date();
  var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());          
  $('.filmDatepicker').datepicker('setDate', today);

  jQuery(function(){
  	//$.mask.definitions["2"] = "[0-2]";
  //	$.mask.definitions["2"] = "[0-2]";
 jQuery(".timeMask").mask("99:99");
});




});


</script>
</body>
</html>