<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width = device-width, initial-scale = 1">
	<title>Admin City</title>
	<link rel="stylesheet" type="text/css" href="../../../../../../Desktop/cinemasite/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="../../../../../../Desktop/cinemasite/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../../../../../../Desktop/cinemasite/css/bootstrap-select.min.css">
	<link rel="stylesheet" type="text/css" href="../../../../../../Desktop/cinemasite/css/main.css">
	<link href='https://fonts.googleapis.com/css?family=Cormorant' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../../../../../../Desktop/cinemasite/css/admin_hall.css">
	<link rel="stylesheet" type="text/css" href="../../../../../../Desktop/cinemasite/css/bootstrap-editable.css">
	<script src="../../../../../../Desktop/cinemasite/js/jquery-3.1.1.min.js"></script>
	<script src="../../../../../../Desktop/cinemasite/js/bootstrap.js"></script>
	<script src="../../../../../../Desktop/cinemasite/js/bootstrap-select.min.js"></script>
	<script src="../../../../../../Desktop/cinemasite/js/jquery.maskedinput.js"></script>
	<script src="../../../../../../Desktop/cinemasite/js/bootstrap-editable.min.js"></script>

</head>

<body>

  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsed-menu" aria-expanded="false">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="collapsed-menu">
          <ul class="nav navbar-nav">
            <li><a href="#">Кинотеатры</a></li>
            <li><a href="#">Фильмы</a></li>
            <li><a href="#">Пользователи</a></li>
            <li class="active"><a href="#">Города</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-map-marker" aria-hidden="true"></i> Киев <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <form class="navbar-form" role="search">
                  <div class="input-group input-group-sm">
                    <input type="text" class="form-control" placeholder="Город" maxlength="20">
                    <span class="input-group-btn">
                      <button class="btn btn-default btn-xs" type="button"> <span class="glyphicon glyphicon-search"></span> </button>
                    </span>
                  </div>              
                </form>
                <li role="separator" class="divider"></li>
                <li><a href="#">Львов</a></li>
                <li><a href="#">Харьков</a></li>
                <li><a href="#">Одесса</a></li>
              </ul>
            </li>            
            <li><a href="#">Вход</a></li>
            <li><a href="#">Регистрация</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>


  <div class="container"> 
    <div class="jumbotron">
      <h2>Список городов</h2>
	    <div class="row">
	    <br>
	        <div class="col col-xs-6">
	      	<a class="btn btn-sm btn-primary btn-create" data-toggle="collapse" href='#addCinema'><i class="fa fa-plus" aria-hidden="true"></i> Добавить город</a>   
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<div class="tab-content">
	            	<div id="addCinema" class="collapse">
	            		<form role="form" method="post" action="" id="request-form" onsubmit="return false;">
	              			<div class ="menu">
				              	 <input type="text" class="form-control data-input" placeholder="Название города" maxlength="50" required>
	             				<button type="submit" class="btn btn-success">Сохранить</button>                 
	              			</div>
	             		</form>
	            	</div>
	      		</div>
	    	</div>
	    </div>
      	<hr />
	     <ul class="list-unstyled">
		    <li>
			   1.<a class="list-font" id = "city1"> Киев</a>
	           <a class="btn btn-xs button-style"><em class="fa fa-pencil" id="editbtn"></em></a>
	           <a class="btn btn-xs button-style  button-cancel" style='padding:0px; color:#9c5454'><em class="fa fa-times"></em></a>
			</li>      	
		    <li>
			    2.<a class="list-font"> Львов</a>
			    <a class="btn btn-xs button-style"><em class="fa fa-pencil" id="editbtn"></em></a>
	            <a class="btn btn-xs button-style  button-cancel" style='padding:0px; color:#9c5454'><em class="fa fa-times"></em></a>
		    </li>
		    <li>
		     	3.<a  class="list-font"> Харьков</a>
		     	<a class="btn btn-xs button-style"><em class="fa fa-pencil" id="editbtn"></em></a>
           		<a class="btn btn-xs button-style  button-cancel" style='padding:0px; color:#9c5454'><em class="fa fa-times"></em></a>
		    </li>
		    <li>
			    4.<a  class="list-font"> Херсон</a>
			    <a class="btn btn-xs button-style"><em class="fa fa-pencil" id="editbtn"></em></a>
	            <a class="btn btn-xs button-style  button-cancel" style='padding:0px; color:#9c5454'><em class="fa fa-times"></em></a>
		    </li>
	    </ul>
    </div>
  </div>

      

  <div class="footer">
    <div class = "row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-lg-offset-4 col-md-offset-4 col-sm-offset-4 text-center">
        <ul class="list-inline"> 
          <li><a href="#">Главная</a></li>    
          <li><a href="#">|</a></li>
          <li>Перечень:</li>
          <li><a href="">Кнопка</a></li>
          <li><a href="">Кнопка</a></li>
          <li><a href="">Кнопка</a></li>      
          <li><a href="">|</a></li>
          <li><a href="">Контакты</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-3 col-xs-9 col-lg-offset-2  col-sm-offset-0 col-xs-offset-3 pull-right">
        <span><i class="fa fa-envelope-open" aria-hidden="true" style="line-height:6%;"></i> e-mail: CatReeena@yandex.ru</span>
        <p><i class="fa fa-address-book" aria-hidden="true" style="line-height:6%;"></i> тел. +380636125014 </p>
      </div>
    </div>
  </div>


<script>
 $(document).ready(function () {                                 
 
$.fn.editable.defaults.mode = 'inline';
  $('#editbtn').click(function(e){    
    e.stopPropagation();
    $('#city1').editable('toggle');
  });



});


</script>
</body>
</html>