<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>Login</title>
    <link rel="stylesheet" type="text/css"
          href="../../resources/css/bootstrap/bootstrap.css" th:href="@{/resources/css/bootstrap/bootstrap.css}" >
    <link rel="stylesheet" type="text/css"
          href="../../resources/css/font-awesome.css" th:href="@{/resources/css/font-awesome.css}">
    <link rel="stylesheet" type="text/css"
          href="../../resources/css/main.css" th:href="@{/resources/css/main.css}">
    <link rel="stylesheet" type="text/css"
          href="../../resources/css/login.css" th:href="@{/resources/css/login.css}">
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Cormorant' >
    <script src="../../resources/scripts/jquery/jquery-3.2.1.js"
            th:src="@{/resources/scripts/jquery/jquery-3.2.1.js}"></script>
    <script src="../../resources/scripts/bootstrap/bootstrap.js"
            th:src="@{/resources/scripts/bootstrap/bootstrap.js}"></script>
</head>
<body>
<div class="container" th:include="fragments/navbar :: navbar"></div>

<div class="container">
    <div class="row">
        <div class="thumbnail">
            <div th:fragment="login-form">
                <form name="login" th:action="@{/login}" method="post">
                    <fieldset>
                        <!--/*@thymesVar id="param" type=""*/-->
                        <div th:if="${param.error}" class="alert alert-error bg-danger">
                            Invalid username and password.
                        </div>
                        <div th:if="${param.logout}" class="alert alert-success bg-success">
                            You have been logged out.
                        </div>
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username"/>
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password"/>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="footer" th:include="fragments/footer :: footer"></div>
</body>
</html>