<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title th:text="${movie.name}">Movie</title>
    <link rel="stylesheet" type="text/css"
          href="../../resources/css/bootstrap/bootstrap-datepicker.css" th:href="@{/resources/css/bootstrap/bootstrap-datepicker.css}" >
    <link rel="stylesheet" type="text/css"
          href="../../resources/css/bootstrap/bootstrap.css" th:href="@{/resources/css/bootstrap/bootstrap.css}" >
    <link rel="stylesheet" type="text/css"
          href="../../resources/css/font-awesome.css" th:href="@{/resources/css/font-awesome.css}">
    <link rel="stylesheet" type="text/css"
          href="../../resources/css/main.css" th:href="@{/resources/css/main.css}">
    <link rel="stylesheet" type="text/css"
          href="../../resources/css/cinema_list.css" th:href="@{/resources/css/movie.css}">
    <link rel="stylesheet" type="text/css"
          href="../../resources/css/bootstrap/bootstrap-select.min.css"
          th:href="@{/resources/css/bootstrap/bootstrap-select.min.css}">
    <link href='https://fonts.googleapis.com/css?family=Cormorant' rel='stylesheet' type='text/css'>
    <script src="../../resources/scripts/jquery/jquery-3.2.1.js"
            th:src="@{/resources/scripts/jquery/jquery-3.2.1.js}"></script>
    <script src="../../resources/scripts/bootstrap/bootstrap.js"
            th:src="@{/resources/scripts/bootstrap/bootstrap.js}"></script>
    <script src="../../resources/scripts/bootstrap/bootstrap-datepicker.js"
            th:src="@{/resources/scripts/bootstrap/bootstrap-datepicker.js}"></script>
    <script src="../../resources/scripts/bootstrap/bootstrap-select.min.js"
            th:src="@{/resources/scripts/bootstrap/bootstrap-select.min.js}"></script>

</head>
<body>
<div class="container" th:include="fragments/navbar :: navbar"></div>

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="thumbnail">
                <img src="" th:src="@{/movie/{id}/poster(id=${movie.id})}">
                <div class="caption">
                    <p class='info-header'>Year</p>
                    <p class='film-info' th:text="${movie.year}">Movie year</p>
                    <p class='info-header'>Country</p>
                    <p class='film-info' th:text="${movie.country}">Movie country</p>
                    <p class='info-header'>Genre</p>
                    <p class='film-info' th:text="${movie.genres}">Movie genres</p>
                    <p class='info-header'>Cast</p>
                    <p class='film-info' th:text="${movie.cast}">Movie cast</p>
                    <p class='info-header'>Director</p>
                    <p class='film-info' th:text="${movie.director}">Movie director</p>
                    <p class='info-header'>Screening date</p>
                    <p class='film-info' th:text="${{movie.screeningDate}}">Movie screening date</p>
                    <div th:if="${movie.premiereEndDate}">
                        <p class='info-header'>Premiere end date</p>
                        <p class='film-info' th:text="${{movie.premiereEndDate}}">Movie premiere end date</p>
                    </div>
                    <div th:if="${movie.duration}">
                        <p class='info-header'>Duration</p>
                        <p class='film-info' th:text="${movie.duration} + ' min'">Movie duration in mins</p>
                    </div>
                    <p class='info-header'>Content rating</p>
                    <p class='film-info' th:text="${movie.contentRating}">Movie content rating</p>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
            <div class="thumbnail movie-details">
                <h3 th:text="${movie.name}">Movie name</h3>
                <p class='film-info' th:text="${movie.annotation}">Movie description</p>
                <div class="container">
                    <div class="row form-inline">
                        <div class="input-group">
                            <span class="input-group-addon">Display technology:</span>
                            <select id="display-technology" class="selectpicker"
                                    title="Technology..."
                                    data-live-search="true" data-width="auto">
                                <option selected="selected">All</option>
                                <option th:each="displayTechnology : ${displayTechnologies}"
                                        th:text="${displayTechnology}">Technology option</option>
                            </select>
                        </div>
                        <div class="input-group date">
                            <span class="input-group-addon">Date:</span>
                            <div class="input-group-btn ">
                                <button id="button-all-dates" class="btn btn-default active"
                                        type="button">All dates</button>
                            </div>
                            <input id="movie-datepicker" type="text" class="form-control" data-provide="datepicker"
                                   title="Date">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="spinner" th:replace="fragments/spinner :: spinner"></div>
            </div>
            <div class="thumbnail session-block"></div>
        </div>
    </div>
</div>

<div class="footer" th:include="fragments/footer :: footer"></div>

<script th:inline="javascript">
    (function () {
        var sessions = $(".session-block");
        var spinner = $(".spinner");
        var allDates = $('#button-all-dates');

        $(document).ready(function () {
            var picker = $('#movie-datepicker');
            picker.datepicker({
                autoclose: true,
                format: "d M D",
                startDate: new Date(),
                todayHighlight: true
            });
            picker.datepicker('setDate', new Date());
            spinner.hide();
            picker.on('changeDate', getSessions);
            $('#display-technology').on('change', getSessions);
            allDates.on('click', function () {
                allDates.addClass('active');
                getSessions();
            });

            getSessions();
        });

        function getSessions(event) {
            var movie =  /*[[@{${movie.id}} ]]*/undefined;
            var params = {movie: movie};

            var cinema =  /*[[@{${param.cinema}} ]]*/undefined;
            if (cinema) {
                params.cinema = cinema;
            }

            var technology = $('#display-technology').val();
            if (technology !== 'All') {
                params.technology = technology;
            }

            var date = event ? event.date : undefined;
            if (date) {
                params.date = date.getFullYear() +
                    '-' + pad(date.getMonth() + 1) +
                    '-' + pad(date.getDate());
                allDates.removeClass('active');
            }

            var path = /*[[@{@{/sessions}} ]]*/'/sessions';
            showSpinner();
            $.get(path, params)
                .done(function (data) {
                    sessions.html(data);
                })
                .fail(function () {
                    sessions.html("<p class='bg-danger'>Something went wrong</p>");
                })
                .always(function () {
                    hideSpinner();
                });
        }

        function pad(number) {
            if (number < 10) {
                return '0' + number;
            }
            return number;
        }

        function showSpinner() {
            sessions.addClass("disabled-block");
            spinner.show();
        }

        function hideSpinner() {
            sessions.removeClass("disabled-block");
            spinner.hide();
        }
    })();
</script>
</body>
</html>