@charset "utf-8";
/* CSS Document */
* {
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    color: #000000;
    text-align: left;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
}

table th {
    color: #FFFFFF;
    background-color: #2E51A2;
}

tr:nth-child(odd) {
    background-color: #F6F6F6;
}

td:nth-last-child(-n+2) {
    text-align: center;
}

.loader {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}