<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error">
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{dd-MMM-yyyy HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!-- Log SQL statements -->
        <Logger name="org.hibernate.SQL" level="error" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>

        <!-- Log Spring web requests -->
        <Logger name="org.springframework" level="error" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>

        <!-- Log JDBC bind parameters -->
        <Logger name="org.hibernate.type.descriptor.sql" level="error" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>

        <!-- Log custom packages -->
        <Logger name="movietickets" level="error" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>

        <Root level="error">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>