<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Admin Hall</title>
    <link rel="stylesheet" type="text/css"
          href="../../../resources/css/bootstrap/bootstrap.css" th:href="@{/resources/css/bootstrap/bootstrap.css}">
    <link rel="stylesheet" type="text/css"
          href="../../../resources/css/font-awesome.css" th:href="@{/resources/css/font-awesome.css}">
    <link rel="stylesheet" type="text/css"
          href="../../../resources/css/bootstrap/bootstrap-datepicker.css"
          th:href="@{/resources/css/bootstrap/bootstrap-datepicker.css}">
    <link rel="stylesheet" type="text/css"
          href="../../../resources/css/bootstrap/bootstrap-select.min.css"
          th:href="@{/resources/css/bootstrap/bootstrap-select.min.css}">
    <link rel="stylesheet" type="text/css"
          href="../../../resources/css/main.css" th:href="@{/resources/css/main.css}">
    <link rel="stylesheet" type="text/css"
          href="../../../resources/css/admin/hall.css" th:href="@{/resources/css/admin/hall.css}">
    <link rel="stylesheet" type="text/css"
          href="../../../resources/css/layout_editor.css" th:href="@{/resources/css/layout_editor.css}">
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Cormorant'>
    <script src="../../../resources/scripts/jquery/jquery-3.2.1.js"
            th:src="@{/resources/scripts/jquery/jquery-3.2.1.js}"></script>
    <script src="../../../resources/scripts/bootstrap/bootstrap.js"
            th:src="@{/resources/scripts/bootstrap/bootstrap.js}"></script>
    <script src="../../../resources/scripts/bootstrap/bootstrap-select.min.js"
            th:src="@{/resources/scripts/bootstrap/bootstrap-select.min.js}"></script>
    <script src="../../../resources/scripts/bootstrap/bootstrap-datepicker.js"
            th:src="@{/resources/scripts/bootstrap/bootstrap-datepicker.js}"></script>
    <script src="../../../resources/scripts/jquery/jquery.maskedinput.js"
            th:src="@{/resources/scripts/jquery/jquery.maskedinput.js}"></script>
    <script src="../../../resources/scripts/bootstrap/bootstrap-editable.js"
            th:src="@{/resources/scripts/bootstrap/bootstrap-editable.js}"></script>
</head>
<body>
<div class="container" th:include="fragments/navbar :: navbar"></div>

<div class="container">
    <div class="jumbotron">
        <h2 th:text="${cinema.name} + '\'s halls'">Halls</h2>
        <div class="row">
            <br>
            <div class="col col-xs-6">
                <a class="btn btn-sm btn-primary btn-create" data-toggle="collapse" href='#addHall'><i
                        class="fa fa-plus" aria-hidden="true"></i> Add hall</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="tab-content">
                    <div id="addHall" class="collapse">
                        <form role="form" method="post" action="" id="request-form" onsubmit="return false;">
                            <div class="menu">
                                <input id="hall-name" type="text" class="form-control data-input" placeholder="Hall name"
                                       maxlength="50" required>
                                <div class="seats">
                                    <div class="seats-row">
                                        <div class="seat possible"></div>
                                        <div class="seat possible"></div>
                                        <div class="seat possible"></div>
                                    </div>
                                    <div class="seats-row">
                                        <div class="seat possible"></div>
                                        <div class="seat possible"></div>
                                        <div class="seat possible"></div>
                                    </div>
                                    <div class="seats-row">
                                        <div class="seat possible"></div>
                                        <div class="seat possible"></div>
                                        <div class="seat possible"></div>
                                    </div>
                                </div>
                                <button id="hall-save" type="submit" class="btn btn-success">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="spinner" th:replace="fragments/spinner :: spinner"></div>
        <div class="hall-block"></div>
    </div>
</div>
<div class="footer" th:include="fragments/footer :: footer"></div>
<script th:inline="javascript">
    (function () {
        var halls = $(".hall-block");
        var spinner = $(".spinner");
        var cinemaId = /*[[ @{${cinema.id}} ]]*/undefined;
        var array;

        $(document).ready(function () {
            $.ajaxSetup({ headers: { 'X-CSRF-TOKEN': $('meta[name="_csrf"]').attr('content') } });

            $.fn.editable.defaults.mode = 'inline';
            halls.on('click', '.button-edit', editHall);

            spinner.hide();
            halls.on('click', '.button-cancel', deleteHall);
            halls.on('click', '.delete', deleteHall);
            $('#hall-save').on('click', addHall);

            $('.seats').on('click', '.seat', seatClicked);
            $('#create').on('click', createLayout);
            array = initElementsArray();

            getHalls();
        });

        function getHalls() {
            var path = /*[[@{@{/admin/cinema/{id}/halls(id=${cinema.id})}} ]]*/undefined;

            showSpinner();
            $.get(path)
                .done(function (data) {
                    halls.html(data);
                    $('.city-name').each(function () {
                        $(this).editable({
                            url: editableUrl
                        });
                    });
                })
                .fail(function () {
                    halls.html("<p class='bg-danger'>Something went wrong</p>");
                })
                .always(function () {
                    hideSpinner();
                });
        }

        function editableUrl(params) {
            var d = new $.Deferred();
            params.promise = d;
            params.root = $(this).parent().parent();
            saveCity(params);
            return d.promise();
        }

        function deleteHall() {
            var deletePath = /*[[@{@{/hall/}} ]]*/'../hall/';
            deletePath = deletePath + $(this).data('hall-id');
            $.ajax({
                url: deletePath,
                type: 'DELETE',
                success: function() {
                    getHalls();
                }
            });
        }

        function addHall() {
            var addPath = /*[[@{@{/hall}} ]]*/'../hall';
            var name = $('#hall-name').val();
            $.ajax({
                url: addPath,
                type: 'POST',
                data: {"name": name, "seats": createLayout(), "cinema": cinemaId},
                success: function() {
                    getHalls();
                }
            });
        }

        function editHall(event) {
            var parent = $(event.currentTarget).parent();
            var cityEdit = parent.children('.city-name');
            cityEdit.editable('toggle');
            event.stopPropagation();
        }

        function saveCity(data) {
            var id = data.pk;
            var name = data.value;
            var editPath = /*[[@{@{/city/}} ]]*/'../city/';
            editPath = editPath + id;
            $.ajax({
                url: editPath,
                type: 'POST',
                data: {"name": name},
                success: function() {
                    data.promise.resolve();
                    getCities();
                },
                error : function () {
                    data.promise.reject();
                }
            });
        }

        function createLayout() {
            var result = [];
            var regular = /*[[@{${T(movietickets.hall.layout.SeatType).REGULAR.name()}} ]]*/'REGULAR';
            var unavailable = /*[[@{${T(movietickets.hall.layout.SeatType).UNAVAILABLE.name()}} ]]*/'UNAVAILABLE';
            var empty = /*[[@{${T(movietickets.hall.layout.SeatType).EMPTY.name()}} ]]*/'EMPTY';

            for (var row = 0; row < array.length; row++) {
                var newRow = '';
                for (var index = 0; index < array[row].length; index++) {
                    if ($(array[row][index]).hasClass('regular')) {
                        newRow += (',' + regular);
                    } else if ($(array[row][index]).hasClass('unavailable')) {
                        newRow += (',' + unavailable);
                    } else {
                        newRow += (',' + empty);
                    }
                }
                result.push(newRow);
            }

            return result;
        }

        function seatClicked() {
            var info = getRowAndIndex($(this));
            var element = $(array[info.row][info.index]);
            if (element.hasClass('possible')) {
                $(array[info.row][info.index]).removeClass('possible').addClass('regular');

                if (info.index === array[info.row].length - 1) {
                    appendColumn();
                } else if (info.index === 0) {
                    preAppendColumn();
                } else if (info.row === array.length - 1) {
                    appendRow();
                } else if (info.row === 0) {
                    preAppendRow();
                }

            } else if (element.hasClass('regular')) {
                $(array[info.row][info.index]).removeClass('regular').addClass('unavailable');
            } else if (element.hasClass('unavailable')) {
                $(array[info.row][info.index]).removeClass('unavailable').addClass('possible');
            }
        }

        function getRowAndIndex(element) {
            for (var row = 0; row < array.length; row++) {
                for (var index = 0; index < array[row].length; index++) {
                    if (element.get(0) === (array[row][index])) {
                        return {row: row, index: index};
                    }
                }
            }
        }

        function appendColumn() {
            for (var row = 0; row < array.length; row++) {
                var newElement = $('<div class="seat possible"></div>');
                $(array[row][array[row].length - 1]).after(newElement);
                array[row].push(newElement.get(0));
            }
        }

        function preAppendColumn() {
            for (var row = 0; row < array.length; row++) {
                var newElement = $('<div class="seat possible"></div>');
                $(array[row][0]).before(newElement);
                array[row].unshift(newElement.get(0));
            }
        }

        function appendRow() {
            var newRow = $('<div class="seats-row"></div>');
            $('.seats-row').last().after(newRow);
            var arrayElements = [];
            for (var index = 0; index < array[array.length - 1].length; index++) {
                var newElement = $('<div class="seat possible"></div>');
                newRow.append(newElement);
                arrayElements.push(newElement.get(0));
            }
            array.push(arrayElements);
        }

        function preAppendRow() {
            var newRow = $('<div class="seats-row"></div>');
            $('.seats-row').first().before(newRow);
            var arrayElements = [];
            for (var index = 0; index < array[array.length - 1].length; index++) {
                var newElement = $('<div class="seat possible"></div>');
                newRow.append(newElement);
                arrayElements.push(newElement.get(0));
            }
            array.unshift(arrayElements);
        }

        function initElementsArray() {
            var elements = $('.seat.possible').get();
            var result = [];
            while (elements.length) {
                result.push(elements.splice(0, 3));
            }
            return result;
        }

        function showSpinner() {
            halls.addClass("disabled-block");
            spinner.show();
        }

        function hideSpinner() {
            halls.removeClass("disabled-block");
            spinner.hide();
        }

    })();
</script>
</body>
</html>