<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Admin User</title>
    <link rel="stylesheet" type="text/css"
          href="../../../resources/css/bootstrap/bootstrap.css" th:href="@{/resources/css/bootstrap/bootstrap.css}">
    <link rel="stylesheet" type="text/css"
          href="../../../resources/css/font-awesome.css" th:href="@{/resources/css/font-awesome.css}">
    <link rel="stylesheet" type="text/css"
          href="../../../resources/css/main.css" th:href="@{/resources/css/main.css}">
    <link rel="stylesheet" type="text/css"
          href="../../../resources/css/admin/cinema.css" th:href="@{/resources/css/admin/cinema.css}">
    <link rel="stylesheet" type="text/css"
          href="../../../resources/css/bootstrap/bootstrap-select.min.css"
          th:href="@{/resources/css/bootstrap/bootstrap-select.min.css}">
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Cormorant'>
    <script src="../../../resources/scripts/jquery/jquery-3.2.1.js"
            th:src="@{/resources/scripts/jquery/jquery-3.2.1.js}"></script>
    <script src="../../../resources/scripts/bootstrap/bootstrap.js"
            th:src="@{/resources/scripts/bootstrap/bootstrap.js}"></script>
    <script src="../../../resources/scripts/bootstrap/bootstrap-select.min.js"
            th:src="@{/resources/scripts/bootstrap/bootstrap-select.min.js}"></script>
</head>
<body>
<div class="container" th:include="fragments/navbar :: navbar"></div>

<div class="container">
    <div class="jumbotron">
        <h2>Users</h2>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="input-group input-group-sm">
                    <input id="search-filter" type="text" class="form-control" placeholder="Name \ E-mail" maxlength="20">
                    <span class="input-group-btn">
		             <button id="button-search" class="btn btn-default btn-xs" type="button"> <span
                             class="glyphicon glyphicon-search"></span> </button>
		           </span>
                </div>
            </div>
        </div>
        <hr/>

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default panel-table">
                    <div class="spinner" th:replace="fragments/spinner :: spinner"></div>
                    <div class="user-block"></div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col col-xs-7">Page 1 of 5</div>
                            <div class="col col-xs-5">
                                <ul class="pagination hidden-xs pull-right">
                                    <li>
                                        <a href="#" aria-label="Previous pull-center">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li>
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="pagination visible-xs pull-right">
                                    <li><a href="#">«</a></li>
                                    <li><a href="#">»</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer" th:include="fragments/footer :: footer"></div>
<script>
    (function () {
        var users = $(".user-block");
        var spinner = $(".spinner");

        $(document).ready(function () {
            $.ajaxSetup({ headers: { 'X-CSRF-TOKEN': $('meta[name="_csrf"]').attr('content') } });
            hideSpinner();

            users.on('click', '.edit', editUser);
            users.on('click', '.delete', deleteUser);

            getUsers();

            $('#button-search').on('click', getUsers);
        });

        function getUsers() {
            var path = /*[[@{@{/admin/users}} ]]*/'/admin/users';
            var data = {};
            var search = $('#search-filter').val();
            if (search && search.length > 0) {
                data.search = search;
            }
            showSpinner();
            $.get(path, data)
                .done(function (data) {
                    users.html(data);
                })
                .fail(function () {
                    users.html("<p class='bg-danger'>Something went wrong</p>");
                })
                .always(function () {
                    hideSpinner();
                });
        }


        function editUser(event) {
            var textArray = [];
            var clickedElement = $(this);
            var currentTD = clickedElement.parents('tr').find('td');
            var firstIcon = clickedElement.children().eq(0);
            var secondIcon = clickedElement.next().children().eq(0);
            if (firstIcon.hasClass("fa-pencil")) {
                for (var i = 1; i < 4; i++) {
                    var cell = currentTD.eq(i);
                    textArray.push(cell.text());
                    var input = $('<input/>').val(cell.text());
                    input.width(getTextWidth(cell.text(), "14px Helvetica Neue") + 17);
                    cell.html(input);
                }
                firstIcon.attr('class', "fa fa-floppy-o");
                secondIcon.attr('class', "fa fa-ban");

                users.off('click');
                $(currentTD.children('.edit').get(0)).on('click', apply);
                $(currentTD.children('.delete').get(0)).on('click', apply);
            }

            function apply(event) {
                if ($(this).hasClass('edit')) {
                    var data = [];
                    for (var i = 1; i < 4; i++) {
                        var cell = currentTD.eq(i);
                        var input = cell.find("input");
                        cell.text(input.val());
                        data.push(input.val());
                        input.remove();
                    }
                    firstIcon.attr('class', "fa fa-pencil");
                    secondIcon.attr('class', "fa fa-trash");

                    var editPath = /*[[@{@{/user/}} ]]*/'../user/';
                    editPath = editPath + $(this).data('user-id');
                    $.ajax({
                        url: editPath,
                        type: 'POST',
                        data: {"name": data[0], "password": data[1],
                            "email": data[2]},
                        success: function() {
                            getUsers();
                        }
                    });
                } else if ($(this).hasClass('delete')) {
                    for (var i = 1; i < 4; i++) {
                        var cell = currentTD.eq(i);
                        var input = cell.find("input");
                        cell.text(textArray[i - 1]);
                        input.remove();
                    }
                    firstIcon.attr('class', "fa fa-pencil");
                    secondIcon.attr('class', "fa fa-trash");
                }

                $(currentTD.children('.edit').get(0)).off('click');
                $(currentTD.children('.delete').get(0)).off('click');
                users.on('click', '.edit', editUser);
                users.on('click', '.delete', deleteUser);
                event.stopPropagation();
            }
        }

        function deleteUser() {
            var deletePath = /*[[@{@{/user/}} ]]*/'../user/';
            deletePath = deletePath + $(this).data('user-id');
            $.ajax({
                url: deletePath,
                type: 'DELETE',
                success: function() {
                    getUsers();
                }
            });
        }


        function getTextWidth(text, font) {
            var canvas = getTextWidth.canvas || (getTextWidth.canvas = document.createElement("canvas"));
            var context = canvas.getContext("2d");
            context.font = font;
            var metrics = context.measureText(text);
            return metrics.width;
        }

        function showSpinner() {
            users.addClass("disabled-block");
            spinner.show();
        }

        function hideSpinner() {
            users.removeClass("disabled-block");
            spinner.hide();
        }
    })();
</script>

</body>

</html>